body {
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.box {
    width: 100%;
}

img,
embed,
object,
video {
    max-width: 100%;
}

* {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
    position: absolute;
    bottom: 0;
    font-size: 37px;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.sub-title {
    font-size: 23px;
    margin-top: 1px;
    font-weight: bold;
}

.featured-text {
    width: 100%;
    height: 90px;
    padding-left: 10px;
}

.title-logo {
    margin-top: 20px;
}

.feature-name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 1px;
}

.link {
    font-size: 20px;
}

.divider {
    height: 3px;
    margin-top: 0.5em;
    margin-bottom: 30px;
    border-width: 5px;
    border-color: #7d97ad;
    margin-bottom: 35px;
}

.main-img {
    margin: auto;
    width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
}
