body {
    margin: 0;
}
.container {
    margin-right: auto;
    margin-left: auto;
  /*  display: flex;
    flex-wrap: wrap;*/
}

.box{
    width: 100%;
}

img, embed, object, video {
    max-width: 100%;
}

* {
    font-family: 'Lato', sans-serif;
    color: #2D3C49;
    font-weight: 300;
}
.text-bottom{
    position: absolute;
    bottom: 10px;
}

.text-muted {
    color: #7D97AD;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.sub-title {
    font-size: 23px;
    margin-top: 1px;
    font-weight: bold;
}

.title-logo {
    margin-top: 20px;
}

.divider {
    height: 3px;
    margin-top: 0.5em;
    margin-bottom: 30 px;
    border-width: 5px;
    border-color: #7D97AD;
    margin-bottom: 35px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  padding-right: 20px;
}

.fetured_img {
    float: left;
    margin-right: 10px;
    /*width: calc((100% - 20px)/3);*/
}
.fetured_img:last-of-type {
    margin-right: 0;
}

}

